@import "tailwindcss";

@theme {
  /* This defines the keyframes */
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
  }

  /* This links the keyframes to a utility class name */
  --animate-shake: shake 0.2s ease-in-out 0s 2;
}
html.dark body {
  background-color: #0d1117;
  color: white;
}
