@import "tailwindcss";

@layer base {
  html {
    @apply bg-white text-gray-900;
  }

  html.dark {
    @apply bg-black text-white;
    color-scheme: dark;
  }
}
html, body, #root {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  overflow-y: auto;
}

